<ion-view view-title="Learn Pouch">
 <ion-content class="comment-page" id="comment-incident">


<div class="card ">
  <div class="item item-divide item-stable">
    Declaration and Initialization
  </div>
  <div class="item item-text-wrap">
    	<p>
    You can declare multi-variable at the same time with a comma separator.
  </p>
  
   
     
  </div>
 
</div>


<div class="card">
  <div class="item item-text-wrap">

    
      <textarea id = "test1 "readonly style="border: 1px solid gray; "rows="7" cols="10">
    main(){
	int x,y;
              x = 0;
              y = 3;
               printf("x = %d",x);
               printf("y = %d",y);
}

    </textarea>
    
      <button class="button button-full" ng-class="'button-' + appTheme" ui-sref="tab.startcoding" ng-click="setCode1()"> 
     	
      Test
    </button>
  </div>
</div>



<div class="card ">
  
  <div class="item item-text-wrap">
    	<p>
   Declaring variable and initialization at the same time. Multi-variable initialization is not supported in this app.
  </p>
  
   
     
  </div>
 
</div>


<div class="card">
  <div class="item item-text-wrap">

    
      <textarea id = "test1 "readonly style="border: 1px solid gray; "rows="7" cols="10">
    main(){
            int  x = 0;
            double  y = 10.4;
               printf("x = %d",x);
               printf("y = %ld",y);
}

    </textarea>
    
      <button class="button button-full" ng-class="'button-' + appTheme" ui-sref="tab.startcoding" ng-click="setCode2()"> 
     	
      Test
    </button>
  </div>
</div>


<!-- Assignment statement -->
	
	
	
	<div class="card ">
  <div class="item item-divide item-stable">
    Assignment Statment
  </div>
  <div class="item item-text-wrap">
    	<p>
   Once you've declared a variable you can use it, but not until it has been declared - attempts to use a variable that has not been defined will cause a compiler error.</p>
  
   
     
  </div>
 
</div>


<div class="card">
  <div class="item item-text-wrap">

    
      <textarea id = "test1 "readonly style="border: 1px solid gray; "rows="7" cols="10">
    main(){
	int x,y;
              x = 3*2+(2-1);
            y = x*2-1;
               printf("x = %d",x);
               printf("y = %d",y);
}

    </textarea>
    
      <button class="button button-full" ng-class="'button-' + appTheme" ui-sref="tab.startcoding" ng-click="setCode3()"> 
     	
      Test
    </button>
  </div>
</div>


<!-- while statement -->
	
	
	
	<div class="card ">
  <div class="item item-divide item-stable">
 If- Statment
  </div>
  <div class="item item-text-wrap">
    	<p>
    An if statement can be followed by an optional else statement, which executes when the boolean expression is false. If the boolean expression evaluates to true, then the if block of code will be executed, otherwise else block of code will be executed.</p>
  
   
     
  </div>
 
</div>


<div class="card">
  <div class="item item-text-wrap">

    
      <textarea id = "test1 "readonly style="border: 1px solid gray; "rows="7" cols="10">
  main(){
  int a = 50;
  if(a<20){
    printf("a is less than 20");
  }else{
    printf("a is not less than 20");
  }

  printf("the value of a is: %d", a);


}

    </textarea>
    
      <button class="button button-full" ng-class="'button-' + appTheme" ui-sref="tab.startcoding" ng-click="setCode4()"> 
     	
      Test
    </button>
  </div>
</div>


<!-- while statement -->
	
	
	
	<div class="card ">
  <div class="item item-divide item-stable">
    While-Statement Statment
  </div>
  <div class="item item-text-wrap">
    	<p>
   A while loop statement in C programming language repeatedly executes a target statement as long as a given condition is true.</p>
  
   
     
  </div>
 
</div>


<div class="card">
  <div class="item item-text-wrap">

    
      <textarea id = "test1 "readonly style="border: 1px solid gray; "rows="7" cols="10">
main ()
{
   
   int a = 10;

  
   while( a < 20 )
   {
      printf("value of a: %d", a);
      a= a+1;
   }
 
  
}


}

    </textarea>
    
      <button class="button button-full" ng-class="'button-' + appTheme" ui-sref="tab.startcoding" ng-click="setCode5()"> 
     	
      Test
    </button>
  </div>
</div>

<!-- output statement -->
	
	
	
	<div class="card ">
  <div class="item item-divide item-stable">
    Output Statment
  </div>
 
</div>


<div class="card">
  <div class="item item-text-wrap">

    
      <textarea id = "test1 "readonly style="border: 1px solid gray; "rows="7" cols="10">
main(){

 int x =100;
 double y = 14.2;
 char z = 'A';
 
printf("x = %d",x);
printf("y = %ld",y);
printf("z = %c",z);
printf("ascii value of 'A' = %d",z);


}

    </textarea>
    
      <button class="button button-full" ng-class="'button-' + appTheme" ui-sref="tab.startcoding" ng-click="setCode6()"> 
     	
      Test
    </button>
  </div>
</div>



<!-- input statement -->
	
	
	
	<div class="card ">
  <div class="item item-divide item-stable">
   Input Statment
  </div>
 
</div>


<div class="card">
  <div class="item item-text-wrap">

    
      <textarea id = "test1 "readonly style="border: 1px solid gray; "rows="7" cols="10">
main(){

 int x;
 double y;
 char z;
 
scanf("%d",&x);
scanf("%ld",&y);
scanf("%c",&z);

printf("x = %d",x);
printf("y = %ld",y);
printf("z = %c",z);



}

    </textarea>

    
     
    
      <button class="button button-full" ng-class="'button-' + appTheme" ui-sref="tab.startcoding" ng-click="setCode7()"> 
     	
      Test
    </button>
  </div>
</div>



</ion-content>
</ion-view>

