<ion-view view-title="">
 <ion-content class="comment-page" id="comment-incident">

<div class="bar bar-header" ng-class="'bar-' + appTheme">

<div class="button-bar ">
  <a class="button "  ng-click = "insertAtCaret('input','printf(&quot&quot);')">printf</a>
  <a class="button" ng-click = "insertAtCaret('input','scanf(&quot%d\&quot,&var);')">scanf</a>
  <a class="button" ng-click = "insertAtCaret('input','while(){\n\n}')">while</a>
</div>
 

</div>

<div>
	<br><br>
     
	  <textarea id = "input" ng-model="code" style="border: 2px solid gray; "rows="10" cols="10" >
	  	
POUCH_C(){
	int z = 2*(2+1);
    printf(z);
}
						
	</textarea>
	
	<div class="list">
<div class="button-bar">

  <a class="button button-small" ng-class="'button-' + appTheme" ng-click = "insertAtCaret('input','if(){\n\n}')">if</a>
 
   <a class="button button-small"  ng-class="'button-' + appTheme" ng-click = "insertAtCaret('input','if(){\n\n}\nelse{\n\n}')">if-else</a>
 
</div>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input  id = "stdinput" type="text" placeholder="stdinput">
    </label>	
   
    <button class= "button"ng-class="'button-' + appTheme" ng-click = "generate()"> 
      Compile
    </button>
    
   
  </div>

</div>
  
	
 
</div>
	
  

 

</div>
<div class="card ">
  <div class="item item-divide item-dark">
   Output
  </div>
  
  <textarea id = "output" readonly style="border: 1px solid gray; "rows="7" cols="10" >
  	
  	
	</textarea>

     <textarea id = "time" readonly style="border: 1px solid gray; "rows="1" cols="10" >
  	
  	
	</textarea>
  </div>
 
</div>

</div>



 
	
</ion-content>


  <!-- <ion-footer-bar>
        <div class="button-bar">
          <button class="button button-dark button-dark">Text</button>
          <button class="button button-dark button-dark">Text</button>
        </div>
   </ion-footer-bar>-->
</ion-view>
