<ion-view view-title="Settings">
  <ion-pane>
    
        <!-- Choose theme -->
       
     
        	 <div class="item item-divider">
        	 	<br>
        	 	<br><br><br>
        <h2>Select Theme:</h2> 
          <div class="list list-inset">
          <label class="item item-radio" ng-repeat="theme in themes">
            <input type="radio" name="group" ng-value="theme" ng-model="appTheme" ng-change="themeChange(theme)">
            <div class="item" ng-class="'item-' + theme">
              {{theme}}
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
         
        </div>
          
 
      </ion-list>
    </ion-content>
   
  </ion-pane>


</ion-view>


