<style>
.font-style {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: #080707;
	font-size: 35px;
	padding: 8;
	font-weight: bold;
	
}
</style>

<ion-view view-title="Home">
  <ion-content class="padding">
 
  <div class="list">
	
	<br> <br><br> <center><p class="font-style">&lt; POUCH_C &#47;&gt;<br> a simple C translator </p>  </center><br><br>
	<ul>
		
		
			
			

		<li>
			<button class="button button-block button-stable icon-right ion-arrow-right-b" ng-class="'button-' + appTheme" ui-sref="tab.startcoding" ng-click ="setDefaultCode() ">
 		 		Start Coding
			</button
		</li>
		
		<li>
		<button class="button button-block button-stable icon-right ion-arrow-right-b " ng-class="'button-' + appTheme" ui-sref="tab.learnpouch">
 		 Learn To Pouch_C
		</button>
		</li>
		
	<!--	
		<li>
		<button class="button button-block button-stable icon-right ion-arrow-right-b"ng-class="'button-' + appTheme" >
 			Programs
		</button
		</li>
		
		
		<li>
		<button class="button button-block button-stable icon-right ion-arrow-right-b"ng-class="'button-' + appTheme" >
 		Tips
		</button
		</li> 
		
		-->

		</div>


	</ul>



    
  </ion-content>
</ion-view>
